{% extends 'layout.html' %}

{% block header %}
	{% block title %}Wikontext{% endblock %}
{% endblock %}

{% block content %}
<main role="main" class="inner cover">
	<h1 class="cover-heading">Wikontext</h1>
	<p class="lead">Smarter page previews for a better <a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia</a> experience.</p>
	<p class="lead">
		<a href="https://chrome.google.com/webstore/detail/mjilggjdhbocfmbnnemklcggkbaboaac" class="btn btn-lg btn-secondary" id="install" target="_blank" >Get the app!</a>
	</p>
</main>
{% endblock %}
